.achievement-card {
  background-color: #ffffff;
  transition: transform 0.3s ease;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.achievement-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.project-heading {
  text-align: center;
  margin-bottom: 40px;
  font-size: 2rem;
}

.purple {
  color: #6c63ff;
}

@media (max-width: 1200px) {
  .project-heading {
    font-size: 1.8rem; /* Slightly smaller on larger tablets and below */
  }

  .achievement-card {
    padding: 15px; /* Adjust padding for medium screens */
  }
}

@media (max-width: 992px) {
  .project-heading {
    font-size: 1.6rem; /* Smaller on tablets */
    margin-bottom: 30px;
  }

  .achievement-card {
    padding: 10px; /* Adjust padding for tablets */
  }
}

@media (max-width: 768px) {
  .project-heading {
    font-size: 1.4rem; /* Adjust for small tablets or large mobile screens */
    margin-bottom: 20px;
  }

  .achievement-card {
    padding: 8px; /* Even smaller padding */
  }
}

@media (max-width: 576px) {
  .project-heading {
    font-size: 1.2rem; /* Adjust for mobile screens */
    margin-bottom: 15px;
  }

  .achievement-card {
    padding: 8px; /* Small padding for mobile */
  }
}
